.servidores {
    /*-fx-padding: 10;*/
    -fx-max-height: 20px;
    -fx-font-size: 2em;
    -fx-border-color: #000000;
    -fx-background-color: #f4f4f4;
    -fx-border-width: 1px;
    /*-fx-border-radius: 5px;*/
    -fx-cursor: hand;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-background-radius: 5px;
    -fx-background-insets: 0;
    -fx-text-alignment: center;
    -fx-transition: background-color 1s ease-in-out;
    -fx-height: 5;
}

.servidores:hover {
    -fx-background-color: #094baf;
}

.botonazo {

    -fx-max-width: 200px;
    -fx-max-height: 20px;
    -fx-background-color: linear-gradient(to bottom, #23946e, #16594b);
    -fx-text-fill: white; /* Color del texto */
    -fx-font-size: 16px; /* Tamaño de la fuente */
    -fx-font-weight: bold; /* Peso de la fuente */
    /*-fx-padding: 10px 20px; !* Relleno *!*/
    -fx-border-radius: 4px; /* Radio de borde */
    -fx-background-radius: 4px; /* Radio de fondo */
    -fx-cursor: hand; /* Cursor */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 4, 0, 0, 1); /* Efecto de sombra */
    -fx-transition: all 0.5s ease;
}

.botonazo:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-transition: all 0.5s ease;
}

.button-selected {
    /*-fx-background-color: rgba(24, 57, 252, 0.5);*/
    -fx-background-color: linear-gradient(to bottom,#1839FC7F , rgba(52, 52, 56, 0.5));
    -fx-text-fill: #FFFFFF;
}


.dialog-background {
    -fx-background-color:  #8093EA;
}


.botonParaCerrar{
    -fx-background-color: #1f4ef8;

    -fx-font-weight: bold;
}
.botonParaCerrar:hover {
    -fx-background-color: #a10303;
    -fx-cursor: hand;


}


.botonMinimizar {
    -fx-background-color: #1f4ef8;
    -fx-cursor: hand;
    -fx-font-weight: bold;

}
.botonMinimizar:hover {
    -fx-background-color: #6c6c6c;
}

.botonMenu{
    -fx-cursor: hand;
}

.botonMenu:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-transition: all 0.5s ease;
}

.textFieldInicio{
    -fx-text-fill: #000000;
}
